USE [QuanLyLuongSanPham]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCCCN]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Cham Cong Cong Nhan*/
CREATE FUNCTION [dbo].[AUTO_IDCCCN]()
RETURNS VARCHAR(4)
AS
BEGIN
	DECLARE @ID VARCHAR(4)
	IF (SELECT COUNT(MACONG) FROM CHAMCONGCONGNHAN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MACONG, 3)) FROM CHAMCONGCONGNHAN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'C00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'C0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCCNV]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Cham Cong Nhan Vien*/
CREATE FUNCTION [dbo].[AUTO_IDCCNV]()
RETURNS VARCHAR(4)
AS
BEGIN
	DECLARE @ID VARCHAR(4)
	IF (SELECT COUNT(MACONG) FROM CHAMCONGNHANVIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MACONG, 3)) FROM CHAMCONGNHANVIEN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'C00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'C0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCD]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Cong Doan*/
CREATE FUNCTION [dbo].[AUTO_IDCD]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MACD) FROM CONGDOAN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MACD, 3)) FROM CONGDOAN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'CD00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'CD0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCL]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Ca Lam*/
CREATE FUNCTION [dbo].[AUTO_IDCL]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MACA) FROM CALAMVIEC) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MACA, 3)) FROM CALAMVIEC
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'CL00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'CL0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCN]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Cong Nhan*/
CREATE FUNCTION [dbo].[AUTO_IDCN]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MACN) FROM CONGNHAN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MACN, 3)) FROM CONGNHAN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'CN00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'CN0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHSL]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table He So Luong*/
CREATE FUNCTION [dbo].[AUTO_IDHSL]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MAHSL) FROM HESOLUONG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAHSL, 3)) FROM HESOLUONG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HSL00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HSL0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDLCN]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Luong Cong Nhan*/
CREATE FUNCTION [dbo].[AUTO_IDLCN]()
RETURNS VARCHAR(4)
AS
BEGIN
	DECLARE @ID VARCHAR(4)
	IF (SELECT COUNT(MALUONG) FROM LUONGCONGNHAN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MALUONG, 3)) FROM LUONGCONGNHAN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'L00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'L0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDLNV]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Luong Nhan Vien*/
CREATE FUNCTION [dbo].[AUTO_IDLNV]()
RETURNS VARCHAR(4)
AS
BEGIN
	DECLARE @ID VARCHAR(4)
	IF (SELECT COUNT(MALUONG) FROM LUONGNHANVIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MALUONG, 3)) FROM LUONGNHANVIEN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'L00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'L0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNV]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Nhan Vien Hanh Chinh*/
CREATE FUNCTION [dbo].[AUTO_IDNV]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MANV) FROM NHANVIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANV, 3)) FROM NHANVIEN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NV00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'NV0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPB]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Phong Ban*/
CREATE FUNCTION [dbo].[AUTO_IDPB]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAPB) FROM PHONGBAN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAPB, 3)) FROM PHONGBAN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'PB00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'PB0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPC]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Phan Cong Cong Nhan*/
CREATE FUNCTION [dbo].[AUTO_IDPC]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAPC) FROM PHANCONG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAPC, 3)) FROM PHANCONG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'PC00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'PC0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDSP]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table SanPham*/
CREATE FUNCTION [dbo].[AUTO_IDSP]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MASP) FROM SANPHAM) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MASP, 3)) FROM SANPHAM
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'SP00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'SP0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDTK]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*table Tai Khoan*/
CREATE FUNCTION [dbo].[AUTO_IDTK]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MATK) FROM TAIKHOAN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MATK, 3)) FROM TAIKHOAN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'TK00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'TK0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 12/8/2022 7:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MACA] [char](5) NOT NULL,
	[TENCA] [nvarchar](30) NOT NULL,
	[GIOLAM] [nvarchar](30) NOT NULL,
	[CALAM] [nvarchar](30) NOT NULL,
	[LUONGCA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongCongNhan]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongCongNhan](
	[MACONG] [char](4) NOT NULL,
	[NGAYCHAM] [date] NULL,
	[SOSANPHAM] [int] NULL,
	[TRANGTHAI] [int] NULL,
	[NGHIPHEP] [int] NULL,
	[MASP] [char](5) NOT NULL,
	[MACD] [char](5) NOT NULL,
	[MACA] [char](5) NOT NULL,
	[MACN] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongNhanVien]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongNhanVien](
	[MACONG] [char](4) NOT NULL,
	[NGAYCHAM] [date] NULL,
	[TRANGTHAI] [int] NULL,
	[NGHIPHEP] [int] NULL,
	[MACA] [char](5) NOT NULL,
	[MANV] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongDoan]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongDoan](
	[MACD] [char](5) NOT NULL,
	[TENCONGDOAN] [nvarchar](60) NOT NULL,
	[GIACONGDOAN] [float] NULL,
	[SOLUONG] [int] NULL,
	[MASP] [char](5) NOT NULL,
	[MACDYC] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNhan]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNhan](
	[MACN] [char](5) NOT NULL,
	[HOTEN] [nvarchar](60) NOT NULL,
	[CMND] [int] NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[TAYNGHE] [nvarchar](30) NULL,
	[SODIENTHOAI] [varchar](11) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[PHUCAP] [float] NULL,
	[MAPB] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeSoLuong]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeSoLuong](
	[MAHSL] [char](6) NOT NULL,
	[HESOLUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHSL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongCongNhan]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongCongNhan](
	[MALUONG] [char](4) NOT NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[LUONG] [float] NULL,
	[MACN] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongNhanVien]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongNhanVien](
	[MALUONG] [char](4) NOT NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[LUONG] [float] NULL,
	[MANV] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [char](5) NOT NULL,
	[HOTEN] [nvarchar](60) NOT NULL,
	[CMND] [int] NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[LUONGCOBAN] [float] NULL,
	[SODIENTHOAI] [varchar](11) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[PHUCAP] [float] NULL,
	[MAHSL] [char](6) NOT NULL,
	[MAPB] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MAPC] [char](5) NOT NULL,
	[SOLUONGCANLAM] [int] NULL,
	[MACN] [char](5) NOT NULL,
	[MACD] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MAPB] [char](5) NOT NULL,
	[TENPHONGBAN] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MASP] [char](5) NOT NULL,
	[TENSANPHAM] [nvarchar](30) NOT NULL,
	[KIEUDANG] [nvarchar](30) NULL,
	[CHATLIEU] [nvarchar](30) NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MATK] [char](5) NOT NULL,
	[TENDN] [nvarchar](30) NOT NULL,
	[MATKHAU] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLamViec] ([MACA], [TENCA], [GIOLAM], [CALAM], [LUONGCA]) VALUES (N'CL001', N'Sáng', N'8h-12h', N'Ca Sáng', 1)
INSERT [dbo].[CaLamViec] ([MACA], [TENCA], [GIOLAM], [CALAM], [LUONGCA]) VALUES (N'CL002', N'Chiều', N'13h-17h', N'Ca Chiều', 1)
INSERT [dbo].[CaLamViec] ([MACA], [TENCA], [GIOLAM], [CALAM], [LUONGCA]) VALUES (N'CL003', N'Tối', N'18h-22h', N'Ca Tối', 2)
GO
INSERT [dbo].[ChamCongNhanVien] ([MACONG], [NGAYCHAM], [TRANGTHAI], [NGHIPHEP], [MACA], [MANV]) VALUES (N'C001', CAST(N'2022-12-07' AS Date), 1, 0, N'CL001', N'NV001')
INSERT [dbo].[ChamCongNhanVien] ([MACONG], [NGAYCHAM], [TRANGTHAI], [NGHIPHEP], [MACA], [MANV]) VALUES (N'C002', CAST(N'2022-12-07' AS Date), 0, 1, N'CL002', N'NV001')
GO
INSERT [dbo].[CongDoan] ([MACD], [TENCONGDOAN], [GIACONGDOAN], [SOLUONG], [MASP], [MACDYC]) VALUES (N'CD001', N'Công Đoạn 1', 200000, 10, N'SP001', N'     ')
INSERT [dbo].[CongDoan] ([MACD], [TENCONGDOAN], [GIACONGDOAN], [SOLUONG], [MASP], [MACDYC]) VALUES (N'CD002', N'Công Đoạn 2', 400000, 20, N'SP001', N'CD003')
INSERT [dbo].[CongDoan] ([MACD], [TENCONGDOAN], [GIACONGDOAN], [SOLUONG], [MASP], [MACDYC]) VALUES (N'CD003', N'Công Đoạn 1', 500000, 30, N'SP002', N'     ')
GO
INSERT [dbo].[CongNhan] ([MACN], [HOTEN], [CMND], [NGAYSINH], [GIOITINH], [TAYNGHE], [SODIENTHOAI], [DIACHI], [PHUCAP], [MAPB]) VALUES (N'CN001', N'Hùng Dev', 77777777, CAST(N'2022-12-07' AS Date), N'Nam', N'Khá', N'0879999999', N'HCM', 300000, N'PB002')
GO
INSERT [dbo].[HeSoLuong] ([MAHSL], [HESOLUONG]) VALUES (N'HSL001', 1)
INSERT [dbo].[HeSoLuong] ([MAHSL], [HESOLUONG]) VALUES (N'HSL002', 1.5)
INSERT [dbo].[HeSoLuong] ([MAHSL], [HESOLUONG]) VALUES (N'HSL003', 2)
GO
INSERT [dbo].[LuongNhanVien] ([MALUONG], [THANG], [NAM], [LUONG], [MANV]) VALUES (N'L001', 1, 2022, 1500000, N'NV001')
INSERT [dbo].[LuongNhanVien] ([MALUONG], [THANG], [NAM], [LUONG], [MANV]) VALUES (N'L002', 4, 2022, 1500000, N'NV001')
GO
INSERT [dbo].[NhanVien] ([MANV], [HOTEN], [CMND], [NGAYSINH], [GIOITINH], [LUONGCOBAN], [SODIENTHOAI], [DIACHI], [PHUCAP], [MAHSL], [MAPB]) VALUES (N'NV001', N'Nguyễn Văn Hùng', 989999999, CAST(N'2022-12-07' AS Date), N'Nam', 1000000, N'0977777777', N'HCM', 500000, N'HSL001', N'PB001')
GO
INSERT [dbo].[PhanCong] ([MAPC], [SOLUONGCANLAM], [MACN], [MACD]) VALUES (N'PC001', 10, N'CN001', N'CD003')
GO
INSERT [dbo].[PhongBan] ([MAPB], [TENPHONGBAN]) VALUES (N'PB001', N'Ban Quản Lý')
INSERT [dbo].[PhongBan] ([MAPB], [TENPHONGBAN]) VALUES (N'PB002', N'Ban Sản Xuất')
GO
INSERT [dbo].[SanPham] ([MASP], [TENSANPHAM], [KIEUDANG], [CHATLIEU], [SOLUONG]) VALUES (N'SP001', N'Sản Phẩm 1', N'Tròn', N'Vải', 100)
INSERT [dbo].[SanPham] ([MASP], [TENSANPHAM], [KIEUDANG], [CHATLIEU], [SOLUONG]) VALUES (N'SP002', N'Sản Phẩm 2', N'Vuông', N'Vải', 100)
GO
INSERT [dbo].[TaiKhoan] ([MATK], [TENDN], [MATKHAU]) VALUES (N'TK001', N'admin', N'123456')
GO
ALTER TABLE [dbo].[CaLamViec] ADD  CONSTRAINT [IDCL]  DEFAULT ([DBO].[AUTO_IDCL]()) FOR [MACA]
GO
ALTER TABLE [dbo].[ChamCongCongNhan] ADD  CONSTRAINT [IDCCCN]  DEFAULT ([DBO].[AUTO_IDCCCN]()) FOR [MACONG]
GO
ALTER TABLE [dbo].[ChamCongNhanVien] ADD  CONSTRAINT [IDCCNV]  DEFAULT ([DBO].[AUTO_IDCCNV]()) FOR [MACONG]
GO
ALTER TABLE [dbo].[CongDoan] ADD  CONSTRAINT [IDCD]  DEFAULT ([DBO].[AUTO_IDCD]()) FOR [MACD]
GO
ALTER TABLE [dbo].[CongNhan] ADD  CONSTRAINT [IDCN]  DEFAULT ([DBO].[AUTO_IDCN]()) FOR [MACN]
GO
ALTER TABLE [dbo].[HeSoLuong] ADD  CONSTRAINT [IDHSL]  DEFAULT ([DBO].[AUTO_IDHSL]()) FOR [MAHSL]
GO
ALTER TABLE [dbo].[LuongCongNhan] ADD  CONSTRAINT [IDLCN]  DEFAULT ([DBO].[AUTO_IDLCN]()) FOR [MALUONG]
GO
ALTER TABLE [dbo].[LuongNhanVien] ADD  CONSTRAINT [IDLNV]  DEFAULT ([DBO].[AUTO_IDLNV]()) FOR [MALUONG]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [IDNV]  DEFAULT ([DBO].[AUTO_IDNV]()) FOR [MANV]
GO
ALTER TABLE [dbo].[PhanCong] ADD  CONSTRAINT [IDPC]  DEFAULT ([DBO].[AUTO_IDPC]()) FOR [MAPC]
GO
ALTER TABLE [dbo].[PhongBan] ADD  CONSTRAINT [IDPB]  DEFAULT ([DBO].[AUTO_IDPB]()) FOR [MAPB]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [IDSP]  DEFAULT ([DBO].[AUTO_IDSP]()) FOR [MASP]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [IDTK]  DEFAULT ([DBO].[AUTO_IDTK]()) FOR [MATK]
GO
ALTER TABLE [dbo].[ChamCongCongNhan]  WITH CHECK ADD  CONSTRAINT [fk_MaCaLamCN] FOREIGN KEY([MACA])
REFERENCES [dbo].[CaLamViec] ([MACA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChamCongCongNhan] CHECK CONSTRAINT [fk_MaCaLamCN]
GO
ALTER TABLE [dbo].[ChamCongCongNhan]  WITH CHECK ADD  CONSTRAINT [fk_MaCCCN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CongNhan] ([MACN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChamCongCongNhan] CHECK CONSTRAINT [fk_MaCCCN]
GO
ALTER TABLE [dbo].[ChamCongCongNhan]  WITH CHECK ADD  CONSTRAINT [fk_MaSPCN] FOREIGN KEY([MASP])
REFERENCES [dbo].[SanPham] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChamCongCongNhan] CHECK CONSTRAINT [fk_MaSPCN]
GO
ALTER TABLE [dbo].[ChamCongNhanVien]  WITH CHECK ADD  CONSTRAINT [fk_MaCaLamNV] FOREIGN KEY([MACA])
REFERENCES [dbo].[CaLamViec] ([MACA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChamCongNhanVien] CHECK CONSTRAINT [fk_MaCaLamNV]
GO
ALTER TABLE [dbo].[ChamCongNhanVien]  WITH CHECK ADD  CONSTRAINT [fk_MaNVCC] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChamCongNhanVien] CHECK CONSTRAINT [fk_MaNVCC]
GO
ALTER TABLE [dbo].[CongDoan]  WITH CHECK ADD  CONSTRAINT [fk_MaSP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SanPham] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CongDoan] CHECK CONSTRAINT [fk_MaSP]
GO
ALTER TABLE [dbo].[CongNhan]  WITH CHECK ADD  CONSTRAINT [fk_MaPhongBanCN] FOREIGN KEY([MAPB])
REFERENCES [dbo].[PhongBan] ([MAPB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CongNhan] CHECK CONSTRAINT [fk_MaPhongBanCN]
GO
ALTER TABLE [dbo].[LuongCongNhan]  WITH CHECK ADD  CONSTRAINT [fk_MaCNL] FOREIGN KEY([MACN])
REFERENCES [dbo].[CongNhan] ([MACN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LuongCongNhan] CHECK CONSTRAINT [fk_MaCNL]
GO
ALTER TABLE [dbo].[LuongNhanVien]  WITH CHECK ADD  CONSTRAINT [fk_MaNVL] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LuongNhanVien] CHECK CONSTRAINT [fk_MaNVL]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [fk_MaHSLNV] FOREIGN KEY([MAHSL])
REFERENCES [dbo].[HeSoLuong] ([MAHSL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [fk_MaHSLNV]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [fk_MaPhongBanNV] FOREIGN KEY([MAPB])
REFERENCES [dbo].[PhongBan] ([MAPB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [fk_MaPhongBanNV]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [fk_MaCDSP] FOREIGN KEY([MACD])
REFERENCES [dbo].[CongDoan] ([MACD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [fk_MaCDSP]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [fk_MaPCCN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CongNhan] ([MACN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [fk_MaPCCN]
GO
/****** Object:  StoredProcedure [dbo].[select_CCCN]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_CCCN]
as
	SELECT * FROM [dbo].[ChamCongCongNhan]

GO
/****** Object:  StoredProcedure [dbo].[select_CCNV]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_CCNV]
as
	SELECT * FROM [dbo].[ChamCongNhanVien]

GO
/****** Object:  StoredProcedure [dbo].[select_CD]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_CD]
as
	SELECT * FROM [dbo].[CongDoan]

GO
/****** Object:  StoredProcedure [dbo].[select_CLV]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_CLV]
as
	SELECT * FROM [dbo].[CaLamViec]

GO
/****** Object:  StoredProcedure [dbo].[select_CN]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_CN]
as
	SELECT * FROM [dbo].[CongNhan]

GO
/****** Object:  StoredProcedure [dbo].[select_HSL]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_HSL]
as
	SELECT * FROM [dbo].[HeSoLuong]

GO
/****** Object:  StoredProcedure [dbo].[select_LCN]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_LCN]
as
	SELECT * FROM [dbo].[LuongCongNhan]

GO
/****** Object:  StoredProcedure [dbo].[select_LNV]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_LNV]
as
	SELECT * FROM [dbo].[LuongNhanVien]

GO
/****** Object:  StoredProcedure [dbo].[select_NV]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_NV]
as
	SELECT * FROM [dbo].[NhanVien]

GO
/****** Object:  StoredProcedure [dbo].[select_PB]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_PB]
as
	SELECT * FROM [dbo].[PhongBan]

GO
/****** Object:  StoredProcedure [dbo].[select_PCCN]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_PCCN]
as
	SELECT * FROM [dbo].[PhanCong]

GO
/****** Object:  StoredProcedure [dbo].[select_SP]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_SP]
as
	SELECT * FROM [dbo].[SanPham]

GO
/****** Object:  StoredProcedure [dbo].[select_TaiKhoan]    Script Date: 12/8/2022 7:28:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[select_TaiKhoan]
as
	SELECT * FROM [dbo].[TaiKhoan]

GO
